{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {# Top Section #}
    {% for movie in movies %}
    <div style="display:inline-block">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img src="{{ movie.poster }}" alt="Poster" style="width:200px;height:312px;display:block;margin-left:auto;margin-right:auto">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <br>
            <h1 style="font-size:3em;text-align:center;display:block">{{ movie.title }}</h1>
            <h2 style="font-size:2em;text-align:center;display:block">{{ movie.release_date }}</h2>
            <br>
            <div style="text-align:center;display:block">
                <div style="width:50%;float:left">
                    <table style="width:100%;text-align:center;margin-left:auto;margin-right:auto">
                        <tr style="width:100%">
                            <td><img src="{% static 'img/IMDB.png' %}" style="width:37px;height:23px"></td>
                            <td>{{ movie.rating_imdb }}</td>
                        </tr>
                        <tr>
                            <td><img src="{% static 'img/tomato_c.png' %}" style="width:19px;height:20px"></td>
                            <td>{{ movie.rating_tomato_c }}</td>
                        </tr>
                        <tr>
                            <td><img src="{% static 'img/tomato_a.png' %}" style="width:25px;height:28px"></td>
                            <td>{{ movie.rating_tomato_a }}</td>
                        </tr>
                    </table>
                </div>
                <div style="width:50%;float:right">
                {% for genre in genres %}
                <table style="width:100%;text-align:center;margin-left:auto;margin-right:auto">
                    <tr>
                        <td style="text-align:center">{{ genre.name }}</td>
                    </tr>
                </table>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <br>
            <br>
            <p style="font-size:1em;vertical-align:middle">{{ movie.synopsis }}</p>
        </div>
    </div>
    {% endfor %}
    {# Actor/Character Table #}
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <table class="table" style="text-align:center">
            <tr>
                <td><b>Actor</b></td>
            </tr>
            {% for actor in actors %}
            <tr>
                <td>{{ actor.name }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <table class="table" style="text-align:center">
            <tr>
                <td><b>Character</b></td>
            </tr>
            {% for character in characters %}
            <tr>
                <td>{{ character.name }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>